# Change Your domain in Prod
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Use your domain in prod
NEXTAUTH_URL=

# Cron Secret
CRON_SECRET=

# NEON DATABASE
DATABASE_URL=

# OAuth Providers
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
AUTH_FACEBOOK_ID=
AUTH_FACEBOOK_SECRET=
AUTH_TRUST_HOST=true

# nodemailer
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
CONTACT_RECEIVER=