/* @import "tailwindcss"; */

/** Random Styles */
.fs-11 {
  font-size: 11px;
  font-weight: 600;
}

.fs-md {
  font-size: 13px;
  font-weight: 500;
}

.c-textarea {
  border: 1px solid #2b3553 !important;
  resize: vertical !important;
  border-radius: 5px !important;
}
/** End Random Styles */

/** Main Icon React Spinner*/
.spin-clockwise {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/** End Main Icon React Spinner*/

/** Custom dropdown */
.right-dropdown .dropdown-menu:before {
  left: auto; /* reset left */
  right: 1rem; /* adjust distance from right edge */
}
/* Custom caret aligned to right */
.custom-caret {
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.left-dropdown .dropdown-menu:before {
  right: auto; /* reset left */
  right: 1rem; /* adjust distance from right edge */
}

/** end custom dropdown */

/** Remove the focus outline/shadow from all SweetAlert2 buttons */
.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
  outline: none !important;
}
